@tailwind base;
@tailwind components;
@tailwind utilities;

.ju{
margin-top: 150px;
    display: flex;
    justify-content: center;
    margin-left: -120px;
    
}
.passwordreset{
    margin-top: 70px;
    margin-left: -300px;
}